services:
  # Service Nginx
  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "8081:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./www:/var/www/html
    depends_on:
      - php
    networks:
      - app-network

  # Service PHP
  php:
    build:
      context: .
      dockerfile: Dockerfile.php
    container_name: php_fpm
    volumes:
      - ./www:/var/www/html
    networks:
      - app-network
    depends_on:
      - mysql

  # Service MySQL
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    command: --default-authentication-plugin=mysql_native_password --skip-host-cache --skip-name-resolve
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: annuairesMairesDeFrance
      MYSQL_USER: testuser
      MYSQL_PASSWORD: testpass
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    networks:
      - app-network

  # Service PHPMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    volumes:
      - ./phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
    depends_on:
      - mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
